<h3>SimpleComponent</h3>

<p>Just a simple component with no other functionality than @Message.</p>

@code {
    public string Message {get;set;}

        protected override void OnInitialized()
        {
            Message = "Page was loaded at " + DateTime.Now;
            
            base.OnInitialized();
        }
}

