@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Minimal Blazor Server Mvc Template</h1>
    <p>A mininmal Mvc project with Blazor Server support</p>
</div>

